* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #af9af8;
  --secondary-color: #FFF3DA;
  --third-color: #cdbaff;
}

body {
  background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
  font-family: 'Bricolage Grotesque', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  width: 60%;
  height: 65px;
  font-family: Caprasimo;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 10px;
  background-color: var(--secondary-color);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 10px 13px rgba(136, 136, 136, 0.796);
}

.main {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.footer {
  justify-self: end;
}

#sketch-box {
  width: 700px;
  height: 700px;
  background-color: white;
  box-shadow: 0 10px 13px rgba(136, 136, 136, 0.796);
  border-radius: 3px;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 250px;
  height: 550px;
  background-color: var(--secondary-color);
  margin-right: 2rem;
  box-shadow: 0 10px 13px rgba(136, 136, 136, 0.796);
  border-radius: 8px;
}

.tools:hover {
  box-shadow: 0 10px 13px rgb(126, 126, 126);
}

.tools h3 {
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Caprasimo', cursive;
}

.tools .buttons {
  margin-top: 2rem;
}

.tools .btn {
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 1.3rem;
  user-select: none;
}

.tools .btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(66, 66, 66);
}

.tools .pick-color {
  height: auto;
}

.tools .pick-color input {
  margin-top: 1rem;
}

.tools .pick-color input:hover {
  cursor: pointer;
}

.set-size-section {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
}

#size-input {
  margin-top: 6px;
}

.on {
  background-color: var(--third-color) !important;
}

.footer {
  width: 20%;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  background-color: var(--secondary-color);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -7px 13px rgba(136, 136, 136, 0.796);
  font-size: 1.1rem;
}

.footer img {
  position: relative;
  top: 5px;
  left: 5px;
}
